<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-content>
      <img src="/assets/logo.jpg" />
      <h1>Angular Weather App</h1>
      <form (ngSubmit)="login()" [formGroup]="form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required />
          <mat-error *ngIf="username.hasError('required')">Username is required!</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="password.hasError('incorrect')">
            Wrong password!
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" class="full-width" [disabled]="!form.valid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>